[Desktop Entry]
Name=Geizhals (Unofficial)
Comment=Geizhals Preisvergleich (Unofficial)
Type=Application
Icon=geizhals.png
Exec=webapp-container --store-session-cookies --webappUrlPatterns=https?://geizhals.at/*,https?://geizhals.de/*,https?://geizhals.eu/* https://geizhals.eu
Terminal=false
X-Ubuntu-Touch=true
